<h2 mat-dialog-title [style.background-color]="data.backgroundColor" style="font-size: 40px; font-weight: bold;">{{data.roomNumber}}</h2>
<form [formGroup]="detaineeForm" (ngSubmit)="onNoClick()">
    <div class="fieldContainer">
      <mat-form-field class="formField" >
        <mat-label>Myndighet</mat-label>
        <mat-select formControlName="department">
          <mat-option *ngFor="let department of departmentList" [value]="department">
            {{department}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formField">
        <input matInput placeholder="Land" formControlName="language">
      </mat-form-field>
      <mat-form-field class="formField">
        <mat-label>Resa</mat-label>
        <mat-select formControlName="travel">
          <mat-option *ngFor="let travel of travelList" [value]="travel.listName">
            {{travel.listName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formField">
        <mat-label>UR-Kund</mat-label>
        <mat-select formControlName="identification">
          <mat-option *ngFor="let id of identificationList" [value]="id.listName">
            {{id.listName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formField">
        <input matInput placeholder="Anteckningar" formControlName="notes">
      </mat-form-field>
      <div>
        <mat-form-field class="formFieldText">
          <input matInput placeholder="Fritext" formControlName="text">
        </mat-form-field>
      </div>
      <div class="toggleGroup">
        <mat-slide-toggle formControlName="isSecMes">Special Markera</mat-slide-toggle>
        <div class="checkboxContainer">
          <div formArrayName="specMesBox" *ngFor="let item of specMes; let i = index" class="checkboxItem">
            <mat-checkbox [formControlName]="i">{{item.listName}}</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
    <button mat-button (click)="onNoClick()">Uppdatera </button>
  </form>
