<h2 mat-dialog-title [style.background-color]="data.backgroundColor">{{data.roomNumber}}</h2>
<form [formGroup]="detaineeForm" (ngSubmit)="onNoClick()">
    <div class="fieldContainer">
      <mat-form-field class="formField" >
        <mat-label>Myndighet</mat-label>
        <mat-select formControlName="department">
          <mat-option *ngFor="let department of departmentList" [value]="department">
            {{department}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formField">
        <input matInput placeholder="Land" formControlName="language">
      </mat-form-field>
      <mat-form-field class="formField">
        <mat-label>Resa</mat-label>
        <mat-select formControlName="travel">
          <mat-option *ngFor="let travle of travelList" [value]="travle">
            {{travle.listName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formField">
        <input matInput placeholder="UR-Kund" formControlName="identification">
      </mat-form-field>
      <mat-form-field class="formField">
        <input matInput placeholder="Anteckningar" formControlName="notes">
      </mat-form-field>
      <div>
        <mat-form-field class="formFieldText">
          <input matInput placeholder="Fritext" formControlName="text">
        </mat-form-field>
      </div>
      <div class="toggleGroup">
        <mat-slide-toggle formControlName="isSecMes">Special Markera</mat-slide-toggle>
        <mat-form-field class="formFieldSec">
          <input matInput placeholder="Special Markera Text" formControlName="secMesMessage">
        </mat-form-field>
      </div>
    </div>
    <button mat-button type="submit">Uppdatera </button>
  </form>
